.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .75rem;
        transition: all .3s;
        display: block;
    }

    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: .2rem;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: .3rem solid transparent;
        font-family: inherit;
        font-color: inherit;
        width: 90%;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: .3rem solid $color-primary;

            &:invalid {
                border-bottom: .3rem solid $color-secondary-dark;
            }
        }

        &::input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}
